<h1>Điền Thông Tin Công ty</h1>
<!--<h2><a routerLink="/product/list">Home</a></h2>-->
<div class="container">
  <form [formGroup]="companyForm" (ngSubmit)="submit()" enctype="multipart/form-data">
    <table border="1px" >
      <div class="mb-3">
        <label for="codeCompany" class="form-label">Mã Công ty</label>
        <input type="text" class="form-control" id="codeCompany" formControlName="codeCompany">
        <div *ngIf="codeCompanyControl.touched && codeCompanyControl.invalid">
          <p style="color: red" *ngIf="codeCompanyControl.errors?.required">
            Vui lòng nhập tên công ty
          </p>
        </div>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Tên Công ty</label>
        <input type="text" class="form-control" id="name" formControlName="name">
        <div *ngIf="nameControl.touched && nameControl.invalid">
          <p style="color: red" *ngIf="nameControl.errors?.required">
            Vui lòng nhập tên công ty
          </p>
        </div>
      </div>

      <div class="mb-3">
        <label for="avatar" class="form-label">Image</label>
        <input type="file" class="form-control" id="avatar" aria-describedby="emailHelp" formControlName="avatar"
               (change)="onSelectFile($event)" accept="image/**" multiple>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Mô tả</label>
        <input type="text" class="form-control" id="description" formControlName="description">
        <div *ngIf="descriptionControl.touched && descriptionControl.invalid">
          <p style="color: red" *ngIf="descriptionControl.errors?.required">
            Vui lòng nhập mô tả .
          </p>
        </div>
      </div>

      <div class="mb-3">
        <label for="address" class="form-label">Địa Chỉ</label>
        <input type="text" class="form-control" id="address" formControlName="address">
        <div *ngIf="addressControl.touched && addressControl.invalid">
          <p style="color: red" *ngIf="addressControl.errors?.required">
            Vui lòng nhập địa chỉ
          </p>
<!--          <p style="color: red" *ngIf="priceControl.errors?.pattern">-->
<!--            Vui lòng chỉ nhập số.-->
<!--          </p>-->
        </div>
      </div>

      <div class="mb-3">
        <label for="emplployeeQuantity" class="form-label">Số Lượng nhân viên</label>
        <input type="text" class="form-control" id="emplployeeQuantity" formControlName="emplployeeQuantity">
        <div *ngIf="emplployeeQuantityControl.touched && emplployeeQuantityControl.invalid">
          <p style="color: red" *ngIf="emplployeeQuantityControl.errors?.required">
            Vui lòng nhập số lượng .
          </p>
        </div>
      </div>



      <div class="mb-3">
        <label for="city"> Thành phố </label> <br>
        <select  formControlName="city" id="city">
          <option [value]="city.id" *ngFor="let city of city">{{city.name}}</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="linkMap" class="form-label">Bản đồ</label>
        <input type="text" class="form-control" id="linkMap" formControlName="linkMap">
        <div *ngIf="linkMapControl.touched && linkMapControl.invalid">
          <p style="color: red" *ngIf="linkMapControl.errors?.required">
            Vui lòng chọn vị trí .
          </p>
        </div>
      </div>

      <div class="mb-3">
        <label for="phone" class="form-label">SĐT</label>
        <input type="text" class="form-control" id="phone" formControlName="phone">
        <div *ngIf="phoneControl.touched && phoneControl.invalid">
          <p style="color: red" *ngIf="phoneControl.errors?.required">
            Vui lòng nhập số điện thoại .
          </p>
        </div>
      </div>

      <div class="mb-3" >

          <label  for="statusCompany"> Trạng thái </label>

          <input formControlName="statusCompany" id="statusCompany"  type="radio" />ACTIVE

      </div>

      <button type="submit" class="btn btn-primary">Thêm</button>
    </table>
  </form>
</div>

